.home-signup-box {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.home-signup-box-inner {
    max-width: 40%;
    background: #fff;
    width: 100%;    
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 3px 10px 3px #efefef;   
    border: 1px solid #e2e2e2;
}

.home-signup-box-inner .signup-form-row {
    display: flex;
    flex-flow: row wrap;
}
.home-signup-box-inner .signup-form-row > .signup-form-col {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 47%;
    display: flex;
    align-items: center;
    align-content: center;
}
.home-signup-box-inner .signup-form-row > .signup-form-col .mat-form-field {
    width: 100%;
}
.home-nav-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.home-nav-right .signin-form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 15px;
}
.home-nav-right .signin-form-col {
    padding-right: 10px;
}