<!-- <a [routerLink]="['/home']">Home</a>
<br/>
<a [routerLink]="['/web/dashboard']">Dashboard</a> -->
<app-messages></app-messages>
<div class="example-container menu-box">
<mat-toolbar class="example-toolbar main-menu"> 
    <h1 class="example-app-name">Responsive App</h1>
    <div class="home-nav-right">
        <app-login></app-login>
    </div>
    
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
<div class="home-signup-box">
    <div class="home-signup-box-inner">        
        <app-signup></app-signup>
    </div>
</div>
</mat-sidenav-container>
</div>
