<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value, signupForm.valid)" *ngIf="appConstant && masterDataList" novalidate>
  <div class="signup-form-row">
      <div class="signup-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.signupForm.createdbyLabel}}" formControlName="{{appConstant.signupForm.createdby}}" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.signupForm.createdby]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="f.createdby.hasError('required')">
              {{appConstant.errorMessageResources.general.required}}
          </mat-error>
        
      </mat-form-field>
        </div>  
    <div class="signup-form-col">
    <mat-form-field class="example-full-width">
      <input  placeholder="{{appConstant.signupForm.fullnameLabel}}" matInput type="text" formControlName="{{appConstant.signupForm.fullname}}" class="form-control"  />
      <!-- <input matInput placeholder="Email" formControlName="name"> -->
      <mat-error *ngIf="f[appConstant.signupForm.fullname].hasError('required')">
              {{appConstant.errorMessageResources.general.required}}
      </mat-error>
    </mat-form-field>
    </div>
    <div class="signup-form-col">     
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
            <label>{{appConstant.signupForm.genderLabel}}</label>  
      <mat-radio-group formControlName="{{appConstant.signupForm.gender}}">
        <mat-radio-button (change)="genderChange(list)" *ngFor="let list of masterDataList[appConstant.signupForm.gender]" [value]="list">{{list.viewValue}}</mat-radio-button>  
      </mat-radio-group>
      </div>
      </div>
      <div class="signup-form-col">
      <mat-form-field class="example-full-width">
      
        <input formControlName="{{appConstant.signupForm.dob}}"  [max]="endDate" matInput [matDatepicker]="picker" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
    <div class="signup-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.signupForm.maritialstatusLabel}}" formControlName="{{appConstant.signupForm.maritialstatus}}" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.signupForm.maritialstatus]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="f[appConstant.signupForm.createdby].hasError('required')">
              {{appConstant.errorMessageResources.general.required}}
          </mat-error>
        
      </mat-form-field>
        </div>  
        <div class="signup-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.signupForm.religionLabel}}" formControlName="{{appConstant.signupForm.religion}}" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.signupForm.religion]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="f[appConstant.signupForm.religion].hasError('required')">
              {{appConstant.errorMessageResources.general.required}}
          </mat-error>
        
      </mat-form-field>
        </div>  
        <div class="signup-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.signupForm.mothertongueLabel}}" formControlName="{{appConstant.signupForm.mothertongue}}" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.signupForm.mothertongue]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="f[appConstant.signupForm.mothertongue].hasError('required')">
              {{appConstant.errorMessageResources.general.required}}
          </mat-error>
        
      </mat-form-field>
        </div>  
        <div class="signup-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.signupForm.casteLabel}}" formControlName="{{appConstant.signupForm.caste}}" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.signupForm.caste]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="f[appConstant.signupForm.caste].hasError('required')">
              {{appConstant.errorMessageResources.general.required}}
          </mat-error>
        
      </mat-form-field>
        </div>  
    <div class="signup-form-col">
      <mat-form-field class="example-full-width">
      <input required placeholder="{{appConstant.signupForm.emailLabel}}" matInput type="email" formControlName="{{appConstant.signupForm.email}}" class="form-control"  />
      <!-- <input matInput placeholder="Email" formControlName="name"> -->
      <mat-error *ngIf="f[appConstant.signupForm.email].hasError('required')">
          {{appConstant.errorMessageResources.general.required}}
      </mat-error>
          <mat-error *ngIf="f[appConstant.signupForm.email].hasError('email')">
              Email is not <strong>valid</strong>
      </mat-error>
    </mat-form-field>
    </div>
    <div class="signup-form-col">
      <mat-form-field class="example-full-width">
      <input required placeholder="{{appConstant.signupForm.passwordLabel}}" matInput type="password" formControlName="{{appConstant.signupForm.password}}" class="form-control"  />
      <!-- <input matInput placeholder="Email" formControlName="name"> -->
      <mat-error *ngIf="f[appConstant.signupForm.password].hasError('required')">
          {{appConstant.errorMessageResources.general.required}}
      </mat-error>
         
    </mat-form-field>
    </div>
    <div class="signup-form-col">
      <mat-form-field class="example-full-width">
      <input required placeholder="{{appConstant.signupForm.phoneLabel}}" matInput type="text" formControlName="{{appConstant.signupForm.phone}}" class="form-control"  />
      <!-- <input matInput placeholder="Email" formControlName="name"> -->
      <mat-error *ngIf="f[appConstant.signupForm.phone].hasError('required')">
          {{appConstant.errorMessageResources.general.required}}
      </mat-error>
         
    </mat-form-field>
    </div>
    <div class="signup-form-col">
      <button type="submit" mat-raised-button color="warn">Complete Signup</button>
    </div>

  
  </div>
  
  </form>