/* .main-menu .mat-toolbar-multiple-rows{     
      border-bottom: 2px solid #ff9900;
      background: #fff;
      box-shadow: 0px 0px 10px #ccc 0px 0px 10px #eee; 
}
.menu-box {
  display: flex;  
  width: 100%;
 
}
.logo-container {
  flex:0 0 1;
}
.common-header { grid-area: header; }
.common-menu {
   grid-area: menu; 
   height: calc(100vh - 67px);
   background: #eee !important;   
  }
.common-body { grid-area: main; }
.common-footer { grid-area: footer; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'menu main main main main'
    'menu footer footer footer footer';
  
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8); 
}
 */



.main-menu {
  border-bottom: 2px solid #ff9900;
  background: #fff;
  box-shadow: 0px 0px 10px #ccc 0px 0px 10px #eee;
}

.menu-box .mat-drawer.mat-drawer-side {
    z-index: 2;
    min-width: 177px;
    /* text-align: center; */
    /* border-right: 1px solid #dcc; */
    border-right: 1px solid #e4e4e4;
    /* border-bottom: 2px solid #ff9900; */
    background: #f9f9f9;
    /* box-shadow: 0px 0px 0px #eee; */
}
.main-body {
  margin: 15px;
  background-color: #ffffff;
}
.loggedin-header-nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}