<!-- <a href="javascript:void(0)" (click)="clickPush()">Click This</a> -->

<h2 class="inner-page-title">Search</h2>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value, searchForm.valid)" *ngIf="appConstant && masterDataList" novalidate>
  <div class="search-form-row">
      <div class="search-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.searchForm.fromAgeLabel}}" formControlName="{{appConstant.searchForm.fromage}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.agelist]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
      </mat-form-field>
      </div> 
      <div class="search-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.searchForm.toAgeLabel}}" formControlName="{{appConstant.searchForm.toage}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.agelist]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
      </div> 
    <div class="search-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.searchForm.createdbyLabel}}" formControlName="{{appConstant.searchForm.createdby}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.createdby]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
        </div>  
    <div class="search-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.searchForm.maritialstatusLabel}}" formControlName="{{appConstant.searchForm.maritialstatus}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.maritialstatus]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
        
        
      </mat-form-field>
        </div>  
        <div class="search-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.searchForm.religionLabel}}" formControlName="{{appConstant.searchForm.religion}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.religion]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
        </div>  
        <div class="search-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.searchForm.mothertongueLabel}}" formControlName="{{appConstant.searchForm.mothertongue}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.mothertongue]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
        </div>  
        <div class="search-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.searchForm.casteLabel}}" formControlName="{{appConstant.searchForm.caste}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.searchForm.caste]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

    <div class="search-form-col">
      <button type="submit" mat-raised-button color="warn">Complete search</button>
    </div>

  
  </div>
  
  </form>

  <div class="search-results">
    <div class="search-results-row" *ngIf="userData">
        <div class="search-results-col" *ngFor="let list of userData">    
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{list.createdby.viewValue}}</mat-card-title>
                  <mat-card-subtitle>{{list.age}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  {{list.gender.viewValue}}, {{list.caste.viewValue}}
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Shotlist</button>
                  <button mat-button>Reject</button>
                </mat-card-actions>
              </mat-card>
         </div> 
    </div>

  </div>