<!-- <a href="javascript:void(0)" (click)="clickPush()">Click This</a> -->

<h2 class="inner-page-title">Partner Preference</h2>
<form [formGroup]="partnerPreferenceForm" (ngSubmit)="onSubmit(partnerPreferenceForm.value, partnerPreferenceForm.valid)" *ngIf="appConstant && masterDataList" novalidate>
  <div class="partnerPreference-form-row">
      <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.partnerPreferenceForm.fromAgeLabel}}" formControlName="{{appConstant.partnerPreferenceForm.fromage}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.agelist]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
      </mat-form-field>
      </div> 
      <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select placeholder="{{appConstant.partnerPreferenceForm.toAgeLabel}}" formControlName="{{appConstant.partnerPreferenceForm.toage}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.agelist]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
      </div> 
      <div class="partnerPreference-form-col">      
        <mat-form-field>
      <mat-select placeholder="{{appConstant.partnerPreferenceForm.fromHeightLabel}}" formControlName="{{appConstant.partnerPreferenceForm.fromheight}}" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.heightlist]" [value]="list">
          {{list}}
        </mat-option>
      </mat-select>     
    </mat-form-field>
    </div>
      <div class="partnerPreference-form-col">      
        <mat-form-field>
      <mat-select placeholder="{{appConstant.partnerPreferenceForm.toHeightLabel}}" formControlName="{{appConstant.partnerPreferenceForm.toheight}}" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.heightlist]" [value]="list">
          {{list}}
        </mat-option>
      </mat-select>
       
      
    </mat-form-field>
    </div> 
    <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.createdbyLabel}}" formControlName="{{appConstant.partnerPreferenceForm.createdby}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.createdby]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
        </div>  
    <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.maritialstatusLabel}}" formControlName="{{appConstant.partnerPreferenceForm.maritialstatus}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.maritialstatus]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
        
        
      </mat-form-field>
        </div>  
        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.religionLabel}}" formControlName="{{appConstant.partnerPreferenceForm.religion}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.religion]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
        </div>  
        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.mothertongueLabel}}" formControlName="{{appConstant.partnerPreferenceForm.mothertongue}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.mothertongue]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
         
        
      </mat-form-field>
        </div>  
        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.casteLabel}}" formControlName="{{appConstant.partnerPreferenceForm.caste}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.caste]" [value]="list">
            {{list.viewValue}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 
        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.minimumEducationLabel}}" formControlName="{{appConstant.partnerPreferenceForm.education}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.education]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

       

        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.gonLabel}}" formControlName="{{appConstant.partnerPreferenceForm.gon}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.gon]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        </div> 

        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.industryLabel}}" formControlName="{{appConstant.partnerPreferenceForm.industry}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.industry]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.incomeLabel}}" formControlName="{{appConstant.partnerPreferenceForm.income}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.income]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

        <div class="partnerPreference-form-col">      
            <mat-form-field>
          <mat-select  placeholder="{{appConstant.partnerPreferenceForm.familyincomeLabel}}" formControlName="{{appConstant.partnerPreferenceForm.familyincome}}" >
            <mat-option>--</mat-option>
            <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.income]" [value]="list">
              {{list}}
            </mat-option>
          </mat-select>
            
          
        </mat-form-field>
          </div> 

        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.bodytypeLabel}}" formControlName="{{appConstant.partnerPreferenceForm.bodytype}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.bodytype]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.familytypeLabel}}" formControlName="{{appConstant.partnerPreferenceForm.familytype}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.familytype]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.smokingLabel}}" formControlName="{{appConstant.partnerPreferenceForm.smoking}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.smoking]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 
        <div class="partnerPreference-form-col">      
          <mat-form-field>
        <mat-select  placeholder="{{appConstant.partnerPreferenceForm.drinkingLabel}}" formControlName="{{appConstant.partnerPreferenceForm.drinking}}" >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.drinking]" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
          
        
      </mat-form-field>
        </div> 

        <div class="partnerPreference-form-col">      
            <mat-form-field>
          <mat-select  placeholder="{{appConstant.partnerPreferenceForm.gothraLabel}}" formControlName="{{appConstant.partnerPreferenceForm.gothra}}" >
            <mat-option>--</mat-option>
            <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.gothra]" [value]="list">
              {{list}}
            </mat-option>
          </mat-select>
            
          
        </mat-form-field>
          </div> 
          <div class="partnerPreference-form-col">      
              <mat-form-field>
            <mat-select  placeholder="{{appConstant.partnerPreferenceForm.foodhabitsLabel}}" formControlName="{{appConstant.partnerPreferenceForm.foodhabits}}" >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.foodhabits]" [value]="list">
                {{list}}
              </mat-option>
            </mat-select>
              
            
          </mat-form-field>
            </div> 

            <div class="partnerPreference-form-col">      
                <mat-form-field>
              <mat-select  placeholder="{{appConstant.partnerPreferenceForm.occupationLabel}}" formControlName="{{appConstant.partnerPreferenceForm.occupation}}" >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.occupation]" [value]="list">
                  {{list}}
                </mat-option>
              </mat-select>
                
              
            </mat-form-field>
              </div> 
              <div class="partnerPreference-form-col">      
                  <mat-form-field>
                <mat-select  placeholder="{{appConstant.partnerPreferenceForm.manglikLabel}}" formControlName="{{appConstant.partnerPreferenceForm.manglik}}" >
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let list of masterDataList[appConstant.partnerPreferenceForm.manglik]" [value]="list">
                    {{list}}
                  </mat-option>
                </mat-select>
                  
                
              </mat-form-field>
                </div> 

    <div class="partnerPreference-form-col">
      <button type="submit" mat-raised-button color="warn">Save</button>
    </div>

  
  </div>
  
  </form>

  <div class="partnerPreference-results">
    <div class="partnerPreference-results-row" *ngIf="masterDataList">
        <div class="partnerPreference-results-col" *ngFor="let list of masterDataList">    
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{list.createdby.viewValue}}</mat-card-title>
                  <mat-card-subtitle>{{list.age}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  {{list.gender.viewValue}}, {{list.caste.viewValue}}
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Shotlist</button>
                  <button mat-button>Reject</button>
                </mat-card-actions>
              </mat-card>
         </div> 
    </div>

  </div>

  <!-- <button (click)="btnClick()">Just Click</button> -->


  <!-- <script>
  function getList(id) {
    document.getElementById(id).options;
    var abc = [];
    for(let i = 0; i < document.getElementById(id).options.length; i++) {abc.push(document.getElementById(id).options[i].innerText)}
    var abcText = abc.join('+++');
    return abcText;
  }
  </script> -->