.partnerPreference-form-row, .partnerPreference-results-row {
    display: flex;
    flex-flow: row wrap;
}
.partnerPreference-form-row > div.partnerPreference-form-col {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 18%;
}
.partnerPreference-results-row > div.partnerPreference-results-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
}
.inner-page-title {
    margin: 0px;
}