<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.valid)" novalidate>
  <div class="signin-form-row"> 
    <div class="signin-form-col">
      <mat-form-field class="example-full-width">
      <input required placeholder="{{appConstant.loginForm.emailLabel}}" matInput type="email" formControlName="{{appConstant.loginForm.email}}" class="form-control"  />
      <!-- <input matInput placeholder="Email" formControlName="name"> -->
      <mat-error *ngIf="f[appConstant.loginForm.email].hasError('required')">
          {{appConstant.errorMessageResources.general.required}}
      </mat-error>
          <mat-error *ngIf="f[appConstant.loginForm.email].hasError('email')">
              Email is not <strong>valid</strong>
      </mat-error>
    </mat-form-field>
    </div>
    <div class="signin-form-col">
      <mat-form-field class="example-full-width">
      <input required placeholder="{{appConstant.loginForm.passwordLabel}}" matInput type="password" formControlName="{{appConstant.loginForm.password}}" class="form-control"  />
      <!-- <input matInput placeholder="Email" formControlName="name"> -->
      <mat-error *ngIf="f[appConstant.loginForm.password].hasError('required')">
          {{appConstant.errorMessageResources.general.required}}
      </mat-error>
         
    </mat-form-field>
    </div>
    <div class="signin-form-col">
      <button type="submit" mat-raised-button color="warn">Login</button>
    </div>

  
  </div>
  
  </form>