/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
    background: #f4f4f2 !important;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .main-menu {
    border-bottom: 2px solid #ff9900;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc 0px 0px 10px #eee;
  }
  
  .menu-box .mat-drawer.mat-drawer-side {
      z-index: 2;
      min-width: 177px;
      /* text-align: center; */
      /* border-right: 1px solid #dcc; */
      border-right: 1px solid #e4e4e4;
      /* border-bottom: 2px solid #ff9900; */
      background: #f9f9f9;
      /* box-shadow: 0px 0px 0px #eee; */
  }
  .main-body {
    padding: 20px;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
   padding: 6px;   
    border: 1px solid transparent;
    border-radius: 4px;
    width: 50%;
    text-align: center;
}